<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Agritect - AI Disease Detection</title>

    {% load static %}
    <link rel="icon" href="{% static 'assets/images/fav.png' %}" type="image/png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
	 <link rel="stylesheet" href="{% static 'assets/css/auth.css' %}">
     <link rel="stylesheet" href="{% static 'assets/css/dashboard.css' %}">
</head>

<body>

<header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s" style="position: relative; background-color: #091E3E!important;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <div class="row align-items-center">
                            <a href="{% url 'siteoverview:landing_page' %}" class="logo col-md-3">
                                <img src="{% static 'assets/images/logo.png' %}" alt="Agricultural AI">
                            </a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav col-md-5 justify-content-center">
                                <li><a href="{% url 'siteoverview:landing_page' %}" class="active">Home</a></li>
                                <li><a href="{% url 'siteoverview:services' %}" class="">Services</a></li>
                                <li><a href="{% url 'siteoverview:about' %}" class="">About Us</a></li>
                                <li><a href="{% url 'siteoverview:dashboard' %}" class="">Dashboard</a></li>
                                <li></li>
                            </ul>
                            <ul class="nav col-md-4 d-flex flex-row-reverse">
                                <li><a href="{% url 'siteoverview:signin' %}">Sign In</a></li>
                                <li><div class="gradient-button"><a href="{% url 'siteoverview:signup' %}">Sign Up</a></div></li>
                            </ul>
                        <a class='menu-trigger'><span>Menu</span></a></div>

                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

   <main>
    <aside class="navbar">
        <ul>
            <li><a href="#"><i class="fa fa-camera" aria-hidden="true"></i> Upload Image</a></li>
            <li><a href="#"><i class="fa fa-play" aria-hidden="true"></i> Upload Video</a></li>
            <li><a href="#"><i class="fa fa-info" aria-hidden="true"></i> FAQ</a></li>
        </ul>
    </aside>

      <div id="form">
         <form action="/submit/" method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <label for="img">Select image:</label>
        <input type="file" id="img" name="img_upload" accept="image/*">
        <input type="submit">
    </form>

       <div class="container">
           <img src="/media/{{i}}" alt="">
           <h3>{{ classification }}</h3>
       </div>
      </div>

   </main>

    <!-- Scripts -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/animation.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
    <script src="{% static 'assets/js/popup.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>

</html>