<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Agritect - AI Disease Detection</title>

    {% load static %}
    <link rel="icon" href="{% static 'assets/images/fav.png' %}" type="image/png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
     <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <div class="row align-items-center">
                            <a href="{% url 'siteoverview:landing_page' %}" class="logo col-md-3">
                                <img src="{% static 'assets/images/logo.png' %}" alt="Agricultural AI">
                            </a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav col-md-5 justify-content-center">
                                <li><a href="{% url 'siteoverview:landing_page' %}" class="">Home</a></li>
                                <li><a href="{% url 'siteoverview:services' %}" class="active">Services</a></li>
                                <li><a href="{% url 'siteoverview:about' %}" class="">About Us</a></li>
                                <li></li>
                            </ul>
                            <ul class="nav col-md-4 d-flex flex-row-reverse">
                                <li><a href="{% url 'siteoverview:signin' %}">Sign In</a></li>
                                <li><div class="gradient-button"><a href="{% url 'siteoverview:signup' %}">Sign Up</a></div></li>
                            </ul>
                        <a class='menu-trigger'><span>Menu</span></a></div>

                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <div class="main-banner wow fadeIn" id="top">
        <div class="container">
            <div class="col-lg-12">
                <h2 style="color: cornsilk;">Get Started With AI Agriculture</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s"
                                data-wow-delay="1s">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h2>Embark on a Journey of Effortless Crop Monitoring</h2>
                                    </div>
                                    <div class="col-lg-12 ps-4">
                                        <div class="white-button first-button scroll-to-section mt-3">
                                            <a href="#">Get Started <i class="fas fa-leaf"></i></a>
                                        </div>
                                        <div class="white-button scroll-to-section mt-3">
                                            <a href="learn/">Learn More <i class="fas fa-info-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 justify-content-center">
                            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                                <img src="{% static 'assets/images/about-bg.png' %}" style="width: 100%" alt="Agriculture Banner">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="about" class="about-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="section-heading">
                        <h4 style="color: cornsilk">About <em style="color: springgreen;">Our Mission</em> &amp; Expertise</h4>
                        <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="Heading Line">
                        <p>Welcome to AI Agriculture, where innovation meets cultivation. Our mission is to
                            revolutionize farming through cutting-edge AI technology and expert insights.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="box-item">
                                <h4><a href="#">AI-powered Analysis</a></h4>
                                <p>Our AI algorithms analyze plant health from photos and videos, providing real-time
                                    insights for farmers.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="box-item">
                                <h4><a href="#">Farming Excellence</a></h4>
                                <p>We empower farmers with knowledge on crop care, sustainable practices, and maximizing
                                    yield.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="box-item">
                                <h4><a href="#">Community Collaboration</a></h4>
                                <p>Our platform fosters a vibrant community where farmers connect, share, and learn from
                                    each other.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="box-item">
                                <h4><a href="#">Continuous Innovation</a></h4>
                                <p>We're dedicated to advancing agriculture through ongoing research and technological
                                    advancements.</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <p>Join us in the journey to transform agriculture. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                            <div class="gradient-button">
                                <a href="#">Explore Our Features</a>
                            </div>
                            <span>*Unlock the Future of Farming</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-image">
                        <img src="{% static 'assets/images/services.png' %}" alt="About Right Image" style="position: relative; top: 200px; width: 85%; left: 150px;">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="services" class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h4>Our AI-powered Services & Features</h4>
                        <img src="{% static 'assets/images/heading-line-dec.png' %}" alt="Heading Line">
                        <p>Empowering farmers with cutting-edge AI technology and agricultural insights.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container services1">
            <div class="row">
                <div class="col-lg-3">
                    <div class="service-item first-service">
                        <div class="icon"><i class="fas fa-leaf"></i></div>
                        <h4>Plant Health Analysis</h4>
                        <p>Upload plant photos for AI-powered health assessment and get personalized recommendations.
                        </p>
                        <div class="text-button">
                            <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="service-item second-service">
                        <div class="icon"><i class="fas fa-seedling"></i></div>
                        <h4>Agricultural Insights</h4>
                        <p>Explore in-depth information about crops, farming techniques, and sustainable practices.</p>
                        <div class="text-button">
                            <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="service-item third-service">
                        <div class="icon"><i class="fas fa-users"></i></div>
                        <h4>Community Interaction</h4>
                        <p>Join our farming community to share experiences, ask questions, and collaborate.</p>
                        <div class="text-button">
                            <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="service-item fourth-service">
                        <div class="icon"><i class="fas fa-mobile-alt"></i></div>
                        <h4>Mobile Accessible</h4>
                        <p>Access our platform on the go with a mobile-friendly design and responsive interface.</p>
                        <div class="text-button">
                            <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="section-heading">
                        <h4>Stay Informed with AI Agriculture Updates</h4>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-3">
                    <form id="search" action="#" method="GET">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <fieldset>
                                    <input type="email" name="address" class="email" placeholder="Email Address..."
                                        autocomplete="on" required>
                                </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <fieldset>
                                    <button type="submit" class="main-button">Subscribe Now <i
                                            class="fa fa-angle-right"></i></button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>Contact Us</h4>
                        <p>Nairobi, Kenya, 123452,</p>
                        <p><a href="#">010-020-0340</a></p>
                        <p><a href="#">agritech@gmail.com</a></p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>About Us</h4>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Plant Analysis</a></li>
                            <li><a href="#">Agricultural Insights</a></li>
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>Quick Links</h4>
                        <ul>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-widget">
                        <h4>About Our Company</h4>
                        <div class="logo">
                            <img src="{% static 'assets/images/white-logo.png' %}" style="width: 80%;" alt="">
                        </div>
                        <p>Welcome to AI Agriculture, where innovation meets cultivation. Our mission is to
                            revolutionize farming through cutting-edge AI technology and expert insights.</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <p>&copy; 2023 AI Agriculture. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/animation.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
    <script src="{% static 'assets/js/popup.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>

</html>