<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Agritect - AI Disease Detection</title>

    {% load static %}
    <link rel="icon" href="{% static 'assets/images/fav.png' %}" type="image/png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
	 <link rel="stylesheet" href="{% static 'assets/css/auth.css' %}">
</head>

<body>

   <main id="main_style">
	   <div id="form-cont">
		   <h1>Sign Up</h1>
		   <form id="login-form">
            <input type="email" class="form_input" id="email" placeholder="Email" required>
            <input type="password" class="form_input" id="password" placeholder="Password" required>
            <input type="password" class="form_input" id="confirm_password" placeholder="Confirm Password" required>
            <button type="submit" class="buttons">Sign Up</button>
        </form>
	   </div>
	   <div id="background-overlay">
		   <h1>Hello, Friend!</h1>
		   <p>Already have an account?</p>
           <a href="/login">
		    <button class="button-left" id="signUp">Sign In</button>
           </a>
	   </div>
   </main>

    <!-- Scripts -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/animation.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
    <script src="{% static 'assets/js/popup.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>

</html>